.center_div{
    margin-top: 2em;
}

h3{
 text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 4px 7px rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.select-group{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 4px 7px rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

fieldset {
  margin-bottom: 30px;
  border: solid 0.2 #aeaeae ;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #1363b5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border : none;
      -webkit-box-shadow: 0px 100px 40px -2px rgba(32,240,0,0.4);
    -moz-box-shadow: 0px 100px 40px -2px rgba(32,240,0,0.4);
    box-shadow: 0px 14px 40px -2px rgba(32,240,0,0.4);
  margin-bottom: 10px;
    }

.col {
margin-bottom : 2em;
}
